<form [formGroup]="formShoes" (ngSubmit)="submit()" class="my-4">
  <h3 class="text-muted text-center my-4">Ajouter chaussure</h3>
  <div class="form-group">
    <label for="marque">Marque</label>
    <input formControlName="marque" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="prix">Prix</label>
    <input formControlName="prix" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="pointure">Pointure</label>
    <input formControlName="pointure" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="couleur">Couleur</label>
    <input formControlName="couleur" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="magasin">Magasin</label>
    <select formControlName="magasin" class="form-control">
      <option *ngFor="let magasin of listMagasins" [ngValue]="magasin">{{ magasin.nom }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="image">URL de l'image</label>
    <input formControlName="image" class="form-control" name="image" type="text">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary mt-2">Envoyer</button>
  </div>
</form>
