
.navbar {
  background-color: #ff80ab;
}

.navbar-brand {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.navbar button {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  transition: all 0.3s ease;
}

.navbar button:hover {
  background-color: #fff;
  color: #ff80ab; 
}
