
form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"] {
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; 
}

/* Style pour le bouton de soumission au survol */
button[type="submit"]:hover {
  background-color: #0056b3; /* Couleur de fond bleu foncé */
}
